@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900@display=swap');
/* Header QR code*/

body{
    background: black;
}

:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.modal {
    position: fixed;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
}

.modal__body{
    margin: 175px auto;
    position: relative;
    border-radius: 5px;
    background-color:#282922;
    width: 500px;
}


/* Authen*/

.auth-form{
    margin-top: 0px;
}

.auth-form__container{
    padding: 0 32px;
}


.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 600;
    color:#45f3ff;
    margin-top: 50px;
}

.auth-form__switch-btn{
    font-size:1.6rem;
    color:white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border:1px solid var(--border-color) ;
}

.auth-form__input:forcus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: white;
    padding: 0 12px;
}

.auth-form__policy-link{
    color: red;
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

/*Button style*/
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: 3px;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color:white;
}

.btn.btn--normal:hover{
    background-color: rgba(255, 255, 255, 0.8);
}


.btn.btn--primary{
    color: black;
    background-color:#45f3ff;
  margin-bottom:20px;

}


.auth-form__socials{
    padding: 0;
    margin: 0;
    background-color: #363434;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.auth-form__controls-back{
    margin-right: 8px;
}


.btn.btn--size-s{
    height:32px;
    font-size: 12px;
}

.auth-form__socials-icon{
    font-size: 1.4rem;
}

.auth-form__socials--facebook{
    background-color: #3A5A98;
    width: 49%;
}

.auth-form__socials--facebook,
.auth-form__socials-icon{
    color: white;
    
}

.auth-form__socials-title{
    margin: 0 22px;
}

.auth-form__socials--google{
    background-color: white;
    width: 49%;
    color: black;
}

.auth-form__socials-icon-google{
    background-color: slategray;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.6rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border-left: 2px solid #EAEAEA;
    height: 20px;
    margin: 0px 16px 0;
}

.auth-form__help-forgot{
    color: #45f3ff;
}
